/* app/globals.css */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "tailwindcss";

/* Tailwind v4 custom variant for dark mode */
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-Poppins: "Poppins", sans-serif;
}

@layer base {
  html,
  body {
    font-family: var(--font-Poppins);
  }

  body {
    @apply bg-[#ffffff] text-[#2A2B2F] dark:bg-[#2A2B2F] dark:text-[#ffffff];
    transition: background-color 0.3s ease, color 0.3s ease;
  }
}


@layer components {
  .side-bar{
    @apply bg-[#1C1D22] py-6 px-6
  }
}